@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right,#8080800a 1px,transparent 1px),linear-gradient(to bottom,#8080800a 1px,transparent 1px);
  background-size: 14px 24px;
  @apply h-full;
}

@layer base {
  
:root  {
  --background: 34 0% 100%;
  --foreground: 34 0% 10%;
  --card: 34 0% 100%;
  --card-foreground: 34 0% 15%;
  --popover: 34 0% 100%;
  --popover-foreground: 34 95% 10%;
  --primary: 25.2,31.6%,61.6%;
  --primary-foreground: 0 0% 0%;
  --secondary: 34 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -4 10% 95%;
  --muted-foreground: 34 0% 40%;
  --accent: -4 10% 90%;
  --accent-foreground: 34 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 34 0% 100%;
  --border: 34 20% 82%;
  --input: 34 20% 50%;
  --ring: 34 27.3% 65.5%;
  --radius: 0.5rem;
}
.dark  {
  --background: 34 10% 10%;
  --foreground: 34 0% 100%;
  --card: 34 0% 10%;
  --card-foreground: 34 0% 100%;
  --popover: 34 10% 5%;
  --popover-foreground: 34 0% 100%;
  --primary: 34 27.3% 65.5%;
  --primary-foreground: 0 0% 0%;
  --secondary: 34 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -4 10% 25%;
  --muted-foreground: 34 0% 65%;
  --accent: -4 10% 25%;
  --accent-foreground: 34 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 34 0% 100%;
  --border: 34 20% 50%;
  --input: 34 20% 50%;
  --ring: 34 27.3% 65.5%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

